.ourteam {
  padding: 120px 0px;
  background-image: url(../assets/team_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ourteam-title-1,
.ourteam-title-2 {
  text-align: center;
}

.ourteam-title-1 {
  color: #60d2c8;
}

.ourteam-title-2 {
  color: #124e48;
}

.ourteam-member {
  justify-content: space-evenly;
}

.ourteam-doc-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 50px;
}

.ourteam-doc-content {
  text-align: center;
}

.ourteam-button {
  margin-left: 115px;
  background-color: #60d2c8;
  border: 1px solid #60d2c8;
  border-radius: 30px;
  text-transform: uppercase;
}
