.bbg-image {
    background-image: url("./../assets/bg.jpg");
    height: 768px;
}

.hero-h1 {
  color: #124e48;
  font-weight: 700;
}
.my-flex {
  display: flex;
  flex-direction: column;
  height: 99px;
  justify-content: space-between;
}
.inner-row-flex {
  display: flex;
  flex-direction: row;
  width: 220px;
  justify-content: space-between;
}
    color: #124e48;
}